<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lurking needs your location to search for sex offenders near you</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Lurking needs your location to search for sex offenders near you</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyUsageDescription</key>
		<string>Lurking needs your location to search for sex offenders near you</string>
	</dict>
</dict>
</plist>
